$yellow: #ffbe36;
$orange: #ff740f;
$red: #e50058;
$blue: #193b55;
$black: #000;
$white: #fcfcfc;
$pureWhite: #fff;
$lightGrey: #ededed;
$darkGrey: #ababab;
$green: #009b0d;

$specialColor: #ababab;
$beefColor: #d59f65;
$chickenColor: #ffbe36;
$porkColor: #fbc9d9;
$siuColor: #f83737;
$kingPrawnColor: #ee3cd1;
$prawnColor: #db62a9;

button {
    touch-action: manipulation;
}